body {
	background: #282828;
	color: #ebdbb2;
}

b {
	color: #a89984;
}

a {
	color: #d65d0e;
}

a:hover {
	opacity: 0.5;
}

.title {
	text-align: center;
}

.navbar {
	text-align: center;
}

.navbar li {
	display: inline;
}

.license {
	text-align: center;
}
